body {
    background: url(snake-background-8.jpg) no-repeat top center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

canvas {
    background: #333;
    border: 2px solid #ccc;
}

.container {
    margin: 30px auto 0 auto;
    width: 604px;
    overflow: auto;
    position: relative;
}

#stats {
    width: 590px;
    background-color: #333;
    padding: 5px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

#score,
#high-score {
    width: 25%;
    height: 50px;
    padding-top: 20px;
    float: left;
    margin-right: 5px;
    overflow: auto;
    background-color: #111;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

#reset-score {
    padding: 10px;
    float: right;
}

#overlay {
    display: none;
    color: #fff;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 180px;
}

#overlay a {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #555;
}